[submodule "packages/wam_common"]
	path = packages/wam_common
	url = git@github.com:ualberta-robotics/wam_common.git
[submodule "packages/cable-differential-wrist"]
	path = packages/cable-differential-wrist
	url = git@github.com:JustinValentine/cable-differential-wrist.git
